table {
    @apply border-collapse w-full;
  }
  
  th, td {
    @apply px-4 py-2 text-left;
  }
  
  th {
    @apply font-medium bg-white;
  }
  ::ng-deep .mat-mdc-table {
    background-color: white !important;
  }
  
  ::ng-deep .mat-mdc-row, 
  ::ng-deep .mat-mdc-cell {
    background-color: white !important; /* Ensures pure white background */

  }
  
  ::ng-deep .mat-mdc-header-row {
    background-color: #f3f4f6 !important; /* Light gray for the header */
  }
  
  ::ng-deep .mat-mdc-row:hover {
    background-color: #f9fafb !important; /* Light hover effect */
  }
  ::ng-deep .mat-mdc-cell, 
::ng-deep .mat-mdc-header-cell {
  background-color: white !important;
  color: #374151; /* Dark gray text */
}